<div class="navbar navbar-dark bg-dark" style="height : 230px">
    <div class="container" style="background-color: aqua; text-align: center">
        <div class="col">
            <h2>Download The App !!</h2>
            <p> Really Why Should I download This App ??</p>
            <a href="#"><img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuVpyKieCZ-pDl5cquBN97hk44vyWP6JZ76mmcyom049AMWvjZ7g" style="width:290px; height: 70px; margin-left: 0px; margin-top : -5px"></a>
        </div>
    </div>
</div>
