                          {{> header}}
                          <div class="container" style="margin-top :15px">
                            <div class="jumbotron" style="background-image : url(https://wallpapersite.com/images/pages/pic_w/17551.jpg); background-size: cover; text-align : center">
                              <h1 class="display-4">Hello, world!</h1>
                              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                              <hr class="my-4">
                              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                             <div class = "majesty">
                              <form>
                                  <div class="form-row align-items-center">
                                    <div class="col-sm-3 my-1">
                                      <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <div class="input-group-text">@</div>
                                          </div>
                                          <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
                                        </div>
                                        <div class="row-auto my-1">
                                          <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                             </form>
                           </div>
                          </div>
                        </div>
                        <div class = "container" style="text-align : center">
                          <div = "col">
                           <div class="row"></div>
                            <h2> Why This Is Really Awesome</h2>
                           </div>
                           <div class="row"></div>
                            <h4>The Summary, once again, Of Why Your App's awesomeness</h4>
                           </div>
                         </div>
                        </div>
                        <div class="container" style="padding-top : 20px ">
                          <div class="card-deck">
                          <div class="card">
                            <img src="https://wallpapersite.com/images/pages/ico_n/1437.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title"><i class="fas fa-bicycle"></i> Card title</h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                          <div class="card">
                            <img src="https://wallpapersite.com/images/pages/ico_n/11145.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title"><i class="fas fa-anchor"></i> Card title</h5>
                              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                          <div class="card">
                            <img src="https://wallpapersite.com/images/pages/ico_n/11146.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title"> <i class="fas fa-briefcase"></i> Card title</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                        </div>
                        </div>
                        <div style="text-align : center; background-color : aqua; padding-top:15px; margin-top: 10px; padding-bottom :30px ">
                          <div class = "col">
                            <h2>Download The App</h2>
                            <p>Really,Why Should I Download This App ?</p>
                             <p><a href = "#"><img src = "https://i.imgur.com/YIeI1BU.png?1" style="width : 200px;"></a></p>
                          </div>
                        </div>
