      {{> header}}
      <main>
      <section>
        <div class = "container" style = "margin-top : 20px">
        <a href= "user/signup">  <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal">Register</button></a>
        </div>
           <div class="modal fade" id="exampleModal"  tab-index="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style=" height : 780px; width : 1300px">
            <div class="modal-dialog modal-lg" role="document" style="width:80%" id ="eemode">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Registration Form</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div class = "container" style = "margin-top : 20px">
            <div class="jumbotron" style = "background-image: url(https://wallpapersite.com/images/pages/ico_n/15922.jpg); background-size: cover">
              <h1 class="display-4" style=" color : blue">Hello, world!</h1>
              <p class="lead" style="color : white">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <hr class="my-4">
              <p style="color : white">It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <a class="btn btn-primary btn-lg" href="/user/login" >Log In</a>
            </div>
          </div>
          <div class="modal fade" tabindex= "-1" role="dialog" id="exampleLogin">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Login To Ur Account..</h5>
                <button type="button" class= "close" data-dismiss= "modal" aria-label= "Close">
                 <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
          </div>
            <div class = "container" style = "margin-top : 20px; margin-bottom : 35px">
              <div class="card" style="width: 18rem; height :30rem; position : relative ">
                  <img src="https://i5.walmartimages.com/asr/107062e3-ea86-40bc-b189-ffdb17174f3a_1.66c7edb7a9dc354524bd5cbdcc70fde0.jpeg?odnWidth=200&odnHeight=200&odnBg=ffffff" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                 <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
              </div>
              <div class="card" style="width: 18rem; height: 30rem; margin-left :390px; margin-top: -480px; position : absolute">
                  <img src="https://i5.walmartimages.com/asr/5ea17b3b-efdb-4240-bc9c-b9e64da04563_1.754e23fba9205ac40f817460b8df9ba1.jpeg?odnWidth=200&odnHeight=200&odnBg=ffffff" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                 <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
              </div>
              <div class="card" style="width: 18rem; height: 30rem; margin-left :805px; margin-top: -480px; position : absolute">
                  <img src="https://i5.walmartimages.com/asr/7ec0cf48-9f79-4a2c-84cb-50d2a723277b_1.07862a714cb601c008433699214058d5.jpeg?odnWidth=200&odnHeight=200&odnBg=ffffff" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                 <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>
               {{> footer}}
       </section>
  </main>
