<section>
  <div class="container">
    <fieldset>
      <legend>Log In</legend>
      <form>
          <div class="form-col">
            <div class="col">
            <i class="fa fa-user-friends" style="font-size: 30px !important;"></i><input type="text" class="form-control" placeholder="UserName">
            </div>
            <br>
            <div class="col">
              <i class="fa fa-user-lock" style="font-size: 30px !important;"></i><input type="text" class="form-control" placeholder="Password">
            </div>
            <br>
             <button type="submit" class="btn btn-primary">Sign In</button>
          </div>
      </form>
    </fieldset>
  </div>
</section>
